# OS junk files
[Tt]humbs.db
*.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Temporary Files
~.*
~$*

# IDE Files
.vscode/
.vs/
.idea/
_ReSharper*/
*.resharper

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet packages
!.nuget/*
[Pp]ackages/*
![Pp]ackages/repositories.config

# Outputs
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Oo]bj/

riderModule.iml
Publish/